.path-mod-deffinum .top {
    vertical-align: top;
}

.path-mod-deffinum .deffinum-left {
    text-align: left;
}

.path-mod-deffinum .deffinum-right {
    text-align: right;
}

.path-mod-deffinum .scoframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.ios #deffinumpage #deffinum_content {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

#page-mod-deffinum-player #deffinumtop {
    position: relative;
    width: 100%;
    height: 30px;
}

#page-mod-deffinum-player #deffinumbrowse {
    position: absolute;
    left: 5px;
    top: 0;
}

#page-mod-deffinum-player #deffinumnav {
    position: absolute;
    right: 5px;
    text-align: center;
    top: 3px;
    width: 100%;
}

#page-mod-deffinum-player #deffinumbox {
    width: 74%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#page-mod-deffinum-player #deffinumpage {
    position: relative;
    width: 100%;
    height: 100%;
}

#page-mod-deffinum-player #deffinumpage #toctree {
    position: relative;
    width: 100%;
}

#page-mod-deffinum-player #tocbox {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

#page-mod-deffinum-player #toctree {
    overflow: visible;
}

#page-mod-deffinum-player #tochead {
    position: relative;
    text-align: center;
    top: 3px;
    height: 30px;
}

#page-mod-deffinum-player #deffinumpage .scoframe {
    border: 0;
}

#page-mod-deffinum-player #deffinumpage #deffinum_object {
    border: none;
    width: 98%;
    height: 98%;
}

#page-mod-deffinum-player #deffinumpage #deffinum_object.deffinum_nav_under_content {
    height: 95%;
}

#page-mod-deffinum-player #deffinumpage #deffinum_content {
    height: 100%;
}

#page-mod-deffinum-player #deffinumpage #deffinum_toc {
    position: relative;
}

#page-mod-deffinum-player #deffinumpage #deffinum_toc_title {
    font-size: 1.2em;
    font-weight: bold;
}

#page-mod-deffinum-player #deffinumpage #deffinum_tree {
    border-right: 5px solid rgb(239, 245, 255);
}

#page-mod-deffinum-player #deffinumpage #deffinum_navpanel {
    text-align: center;
}

#page-mod-deffinum-player .toc,
#page-mod-deffinum-player .no-toc {
    width: 100%;
}

#page-mod-deffinum-player .structlist {
    list-style-type: none;
    white-space: nowrap;
}

#page-mod-deffinum-player .structurelist {
    position: relative;
    list-style-type: none;
    width: 96%;
    margin: 0;
    padding: 0;
}

#page-mod-deffinum-player .structurelist ul {
    padding-left: 0.5em;
    margin-left: 0.5em;
}

#page-mod-deffinum-player #deffinumpage #deffinum_toc.disabled,
#page-mod-deffinum-player #deffinumpage #deffinum_toc.loading,
#page-mod-deffinum-player #deffinumpage #deffinum_toc_toggle.disabled,
#page-mod-deffinum-player #deffinumpage #deffinum_toc_toggle.loading {
    display: none;
}

#page-mod-deffinum-view .structurelist {
    list-style-type: none;
    white-space: nowrap;
}

#page-mod-deffinum-view .structurelist {
    list-style-type: none;
    white-space: nowrap;
}

#page-mod-deffinum-view .exceededmaxattempts {
    color: #c00;
}

#page-mod-deffinum-player #altfinishlink {
    font-size: 140%;
    border: 0;
    padding: 0;
}

#page-mod-deffinum-player #deffinummode {
    float: left;
    border: 0;
}

#page-mod-deffinum-player.pagelayout-popup #page-content .region-content {
    padding: 0;
}

#page-mod-deffinum-player.pagelayout-popup #page-wrapper {
    width: 100%;
}

#page-mod-deffinum-player .yui-layout-scroll div.yui-layout-bd {
    overflow: visible;
}

#page-mod-deffinum-player .yui-layout-unit-left div.yui-layout-bd {
    overflow: auto;
}

.path-mod-deffinum.forcejavascript .toc {
    display: none;
}

.path-mod-deffinum.forcejavascript #deffinumpage #tocbox {
    display: none;
}

.path-mod-deffinum.jsenabled .forcejavascriptmessage {
    display: none;
}

.path-mod-deffinum.jsenabled .toc {
    display: block;
}

.path-mod-deffinum.jsenabled #deffinumpage #tocbox {
    display: block;
}

#page-mod-deffinum-report-userreporttracks table .c1 {
    word-wrap: break-word;
    word-break: break-all;
}

#page-mod-deffinum-report .deffinumattemptcounts {
    clear: left;
    text-align: center;
    display: inline;
    margin-left: 20%;
}

#page-mod-deffinum-player #deffinumpage span.yui3-treeview-icon {
    display: none;
}

#page-mod-deffinum-player #deffinumpage li.yui3-treeview-has-children > div.yui3-treeview-row > span.yui3-treeview-icon {
    display: block;
}

#page-mod-deffinum-player #deffinumpage div.yui3-u-1,
#page-mod-deffinum-player #deffinumpage div.yui3-u-3-4,
#page-mod-deffinum-player #deffinumpage div.yui3-u-1-5,
#page-mod-deffinum-player #deffinumpage div.yui3-u-1-24 {
    display: inline-block;
    *display: inline; /* stylelint-disable-line */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

#page-mod-deffinum-player #deffinumpage div.yui3-u-1 {
    display: block;
}

#page-mod-deffinum-player #deffinumpage div.yui3-u-3-4 {
    width: 75%;
}

#page-mod-deffinum-player #deffinumpage div.yui3-u-1-5 {
    width: 20%;
}

#page-mod-deffinum-player #deffinumpage div.yui3-u-1-24 {
    width: 4.1666%;
}

#page-mod-deffinum-player #deffinumpage div.yui3-g-r {
    letter-spacing: normal;
    word-spacing: -0.43em;
}

#deffinum_layout {
    margin-bottom: 50px;
}

/**
* Opera as of 12 on Windows needs word-spacing.
* The ".opera-only" selector is used to prevent actual prefocus styling
* and is not required in markup.
*/
#page-mod-deffinum-player .opera-only :-o-prefocus,
#page-mod-deffinum-player #deffinumpage div.yui3-g-r img {
    max-width: 100%;
}
